/*set background colors and spacing containers*/
header {
  background-color: #FFFACD;
  border: 2px solid black;
}

main {
  background-color: #E0FFFF;
}
footer {
    background-color: #FFFACD;
    border: 2px solid black;
}

/*center image and containers*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  width: 300px;
  margin: auto;
}

/*changing text fonts and sizes with centering*/
h1 {
    font-size: 64px;
    font-family: fantasy;
}

h4 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
}

p {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

ul {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6 {
    font-size:18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*styling links and pseudo-classes*/
a {
    font-family: Arial;
    font-size: 24px;
}

a:link {
    color:black;
}
a:visited {
    color:burlywood;
}
a:hover {
    color:blue;
}
a:active {
    color:aliceblue;
}