

/*set background colors*/
header {
  background-color: #FFFACD;
}

main {
  background-color: #E0FFFF;
}

/*changing text fonts and sizes*/
h1 {
    font-size: 64px;
    font-family: fantasy;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: cetner;
}

p {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
    text-align: center;
}

ul ol li {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*center image*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*styling links and pseudo-classes*/
a {
    font-family: Arial;
    font-size: 24px;
}

a:link {
    color:black;
}
a:visited {
    color:burlywood;
}
a:hover {
    color:blue;
}
a:active {
    color:aliceblue;
}

/*moving sections left and right*/
.align-center {
    text-align: center;
}

.align-left {
  text-align: left;
}

/*borders*/
header {
    border: 2px inset black;
}

article {
  width: 700px;
  height:500px;
  margin:50px;
}