/*set box-sizing to include padding and border in width and height of element*/
* {
  box-sizing: border-box;
}

/*set background colors*/
header {
  background-color: beige
}

main {
  background-color: aliceblue;
}

main > header {
  background-color: aliceblue;
}
